$color-light: white;
$color-dark:#141414;
$text-size-small:14px;
$text-size-medium:16px;
$text-size-header:24px;


$margin-top-def:24px;
$margin-top-small:12px;

$padding-def:10px;
$padding-small:5px;

$border-radius-def:10px;
$border-radius-small:5px;

$transition-def:.3s all ease;