body,
div,
p,
span,
ul,
li,
a,
h1,
h2,
h3,
h4 {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    font-family: Poppins, sans-serif;
}

@import "_vars";
@import "_defStyles";
@import "auth/_auth";

.content,
#root,
body {
    width: 100%;
    height: 100%;
}

.AuthPage {
    width: 100%;
    position: relative;
    overflow: hidden;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .authBG {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        transition: $transition-def;
    }

    .authBG.active {
        filter: blur(3px);
        transform: scale(1.1);
    }
}